<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>first web</title>
    <link href="~/css/index.css" rel="stylesheet" />
</head>
<body>
    <section class="home">
        <div class="intro">
            <h1><span>Shopping</span> With SunFit Outfits</h1>
            <p>Sunfit Outfits is an online sports and fitness clothing brand based in Pakistan. They offer a wide range of activewear and equipment to help people stay active and healthy.</p>
            <a href="" class="btn">Lets Start</a>
        </div>
       <img src="~/images/pngegg (5).png" />
    </section>
    <section class="items">
        <h1>Shop the Mall</h1>
        <div class="cont">


            <div class="cards">
                <img src="~/images/png1.png" />
                <h1>item1</h1>
                <h2>Prize :300$</h2>
                <h2>discount:10%</h2>
                <a href="" class="btn">Lets Start</a>
            </div>
            <div class="cards">
                <img src="~/images/pink2.png" />
                <h1>item2</h1>
                <h2>Prize :300$</h2>
                <h2>discount:10%</h2>
                <a href="" class="btn">Lets Start</a>

            </div>
            <div class="cards">
                <img src="~/images/pink1.png" />
                <h1>item3</h1>
                <h2>Prize :300$</h2>
                <h2>discount:10%</h2>
                <a href="" class="btn">Lets Start</a>
            </div>
        </div>
    </section>

</body>
</html>
